<table>
        <thead>
            <tr>
                <th colspan="2">Cat Request</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>ID</td>
                <td><%= @cat_rental.id %></td>
            </tr>
            <tr>
                <td>Cat ID</td>
                <td><%= @cat_rental.cat_id%></td>
            </tr>
            <tr>
                <td>Start Date</td>
                <td><%= @cat_rental.start_date %></td>
            </tr>
            <tr>
                <td>End Date</td>
                <td><%= @cat_rental.end_date %></td>
            </tr>
        </tbody>
    </table>
